body
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:midnightblue;
}

#cabecera
{
    background-color: blue;
    font-size: 30px;
    color: cornsilk;
    font-weight: bold;
    text-shadow: black; width 3px;

}

#footer
{
    background-color:blueviolet;
    font-size: 26px;
    color: cornsilk;
    font-weight: bold;
    text-shadow: black; width 3px;

}